* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
   font-family: 'Montserrat';
   background-size: cover;
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
    list-style: none;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

a {
    color:black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.active, a:hover {
    background: #1b9bff;
    transition: .5s;
}

footer {
    color: black;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: left;
}

footer a:hover {
    padding: 2px 8px;
    border-radius: 3px;
    background: rgb(120,120,120);
}

.subjectContainer {
    padding: 25px;
    margin: 10px;
    color:black;
    display: flex;
    justify-content: center;
    
}

.subjectContainer img {
    margin-top: 50px;
    height: 240px;
    width: auto;
    color: black;
    border: black 5px solid;
}

.button {
    background-color: #1b9bff;
    width: 150px;  
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    text-align: center;
}

.sigmaknapper {
    margin-top: 150px;
    color:black;
    display: flex;
    justify-content: center;
}

h1 {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: black;
    text-align: center;
    margin-top: 10px;
}

.tilbake {
    background-color: #1b9bff;
    width: 105px;  
    padding: 10px;
    border-radius: 50px;
    border: 1px solid black;
    color: black;
    text-align: center;
    margin: 10px;
}

.prodhistContainer {
    display: grid;
    grid-template-columns: auto auto;
    color: black;
    justify-content: center;
    padding: 30px;
    text-align: center;
}

#bokomslag {
    width: 410px;
    height: 250px;
    border: solid 5px black;
}

#imlanlogo {
    width: 410px;
    height: 250px;
    border: solid 5px black;
}