@font-face {
    font-family: 'digital-7-font';
    src: url('/font/digital-7.ttf');
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-size: cover;
    font-family: 'Montserrat';
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
    list-style: none;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
}

a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    color: black;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: left;
}

footer a:hover {
    padding: 2px 8px;
    border-radius: 3px;
    background: rgb(120, 120, 120);
}

.subjectContainer {
    padding: 25px;
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    color: black;
}

.subjectContainer img {
    height: 150px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    color: black;
}

.infoBox img {
    height: 300px;
    width: 450px;
    border: black 5px solid;
}

.infoBox ul {
    border: 3px solid black;
    border-radius: 100px;
    padding: 20px;
    margin: 50px;
}

.infoBox {
    margin-left: auto;
    margin-top: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#leander {
    font-size: 50px;
}

.button {
    background-color: #a35aa670;
    width: 80px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
    color: black;
}

.tid p {
    color: white;
    font-family: 'digital-7-font';
    font-size: 17px;
}